.color {
    background-color: rgb(254, 255, 255);
}

.imagenlogin {
    height: 100%;
    width: 65%;
    position: fixed;
}

.logonav {
    height: 7%;
    width: 7%;
    margin: 0;
}

.alinear {
    height: 100%;
}

#ordenar {
    width: 30%;
}

#imagen1inicio {
    width: 100%;
    height: 250px;
}

#icono_user {
    height: 120px;
}